{{ 'about-image-overlay-text.css' | asset_url | stylesheet_tag }}

<style>
    #about-image-overlay-text--{{ section.id }} .text {
        color:{{ section.settings.text_color }};
    }
</style>

<div class="about_image_overlay_text" id="about-image-overlay-text--{{ section.id }}">
    <div class="about_image_overlay_text_wrapper">
      <div class="about_image_overlay_text_main">
        <div class="image">
          {%- if section.settings.bg_image -%}
            {%- assign height = section.settings.bg_image.width | divided_by: section.settings.bg_image.aspect_ratio | round -%}
            {{ section.settings.bg_image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              height: height,
              sizes: "100vw",
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        {% if section.settings.text != blank %}
        <div class="overlay_text_content">
            <div class="overlay_text_content_main">
                <div class="text">{{ section.settings.text }}</div>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>


  {% schema %}
  {
    "name": "About Image Overlay Text",
    "tag": "section",
    "settings": [
      {
        "type":"image_picker",
        "id":"bg_image",
        "label":"Background Image"
      },
      {
        "type":"text",
        "id":"text",
        "label":"Text"
      },
      {
        "type":"color",
        "id":"text_color",
        "label":"Text Color",
        "default":"#FFFF73"
      }
    ],
    
    "presets": [
       {
         "name": "About Image Overlay Text",
         "settings": {
            
          }
       }
     ]
  }
  {% endschema %}

  
