{{ 'about-loyalty-module.css' | asset_url | stylesheet_tag }}

<style>
  #about-loyalty-module--{{ section.id }} {

  }
</style>

<div class="about_loyalty_module" id="about-loyalty-module--{{ section.id }}">
  <div class="about_loyalty_module_container" id="about_loyalty_module">
    {% if section.settings.heading != blank %}
      <div class="main_heading">
        <div class="heading h1">{{ section.settings.heading }}</div>
      </div>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <div class="main_subheading">
        <div class="subheading">{{ section.settings.subheading }}</div>
      </div>
    {% endif %}
    <div class="loyalty_module_box" data-equal>
      {% if section.settings.title_1 != blank and section.settings.text_1 != blank %}
        <div class="loyalty_module_content left_box">
          <div class="title">{{ section.settings.title_1 }}</div>
          <div class="text">{{ section.settings.text_1 }}</div>
        </div>
      {% endif %}
      {% if section.settings.title_2 != blank and section.settings.text_2 != blank %}
        <div class="loyalty_module_content right_box">
          <div class="title">{{ section.settings.title_2 }}</div>
          <div class="text">{{ section.settings.text_2 }}</div>
        </div>
      {% endif %}
    </div>
    {% if section.settings.btn_link != blank and section.settings.btn_text != blank %}
      <div class="loyalty_module_button">
        <div class="sticker_image">
          <a
            class="sticker_text"
            href="{{ section.settings.btn_link }}"
            target="_blank"
          >
            {{- section.settings.btn_text -}}
          </a>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_8.png?v=1671134824">
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% javascript %}
  window.setGridHeight('.loyalty_module_box .title');
{% endjavascript %}

{% schema %}
{
  "name": "About Loyalty Module",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Left Side Box"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title_1"
    },
    {
      "type": "richtext",
      "id": "text_1",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Right Side Box"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title_2"
    },
    {
      "type": "richtext",
      "id": "text_2",
      "label": "Text"
    }
  ],

  "presets": [
    {
      "name": "About Loyalty Module",
      "settings": {}
    }
  ]
}
{% endschema %}
