

{{ 'about-image-text.css' | asset_url | stylesheet_tag }}

<style>
  #about-large-image-text--{{ section.id }} {
  background:{{ section.settings.bg_color }};
  {% comment %} background: radial-gradient(53.71% 70.37% at 50% 87.2%, #F58325 0%, #D0C7E3 100%); {% endcomment %}
  }
</style>
<div class="about_image_text" id="about-large-image-text--{{ section.id }}">
    <div class="about_image_text_wrapper">
      {%- if section.settings.text_title != blank -%}
        <div class="text">
          <div class="left h1">{{- section.settings.text_title -}}</div>
        </div>
      {%- endif -%}
      {%- if section.settings.background_image != blank or section.settings.sticker_image != blank -%}
        <div class="image_main">
          {%- if section.settings.background_image != blank -%}
            <div class="image">
              <img src="{{- section.settings.background_image | image_url -}}">
              <div class="sticker_image_main desktop">
                <div class="sticker_image">
                  {%- if section.settings.sticker_text != blank -%}<a class="sticker_text" data-click-to-jump-link data-href="{{- section.settings.sticker_url -}}" href="javascript:void(0)" href="">{{- section.settings.sticker_text -}}</a>{%- endif -%}
                  {%- if section.settings.sticker_image != blank -%}
                    <div class="image">
                      <img src="{{- section.settings.sticker_image | image_url -}}">
                    </div>
                  {%- endif -%}
                  
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>

  {% schema %}
  {
    "name": "About Large Image Text",
    "tag": "section",
    "settings": [
      {
        "type":"color_background",
        "id":"bg_color",
        "label":"Background Color"
      },
      {
        "type":"richtext",
        "id":"text_title",
        "label":"Image Text"
      },
      {
        "type":"image_picker",
        "id":"background_image",
        "label":"Background image"
      },
      {
        "type":"image_picker",
        "id":"sticker_image",
        "label":"Sticker image"
      },
      {
        "type":"text",
        "id":"sticker_text",
        "label":"Sticker Text"
      },
      {
        "type":"url",
        "id":"sticker_url",
        "label":"Sticker url"
      }
    ],
    
    "presets": [
       {
         "name": "About Large Image Text",
         "settings": {
            
          }
       }
     ]
  }
  {% endschema %}
  