{{ 'about-image-overlay-text.css' | asset_url | stylesheet_tag }}

<div class="about_image_overlay_text" id="about-image-overlay-text--{{ section.id }}">
    <div class="about_image_overlay_text_wrapper">
      <div class="about_image_overlay_text_main">
        <div class="image">
            {%- if section.settings.bg_image != blank -%}
          <img src="{{ section.settings.bg_image | img_url: 'master' }}" alt="{{ section.settings.bg_image.alt }}">
          {%- else -%}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
        </div>
        {% if section.settings.text != blank %}
        <div class="overlay_text_content">
            <div class="overlay_text_content_main">
                <div>{{ section.settings.text }}</div>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>


  {% schema %}
  {
    "name": "About Image Overlay Text",
    "tag": "section",
    "settings": [
      {
        "type":"image_picker",
        "id":"bg_image",
        "label":"Background Image"
      },
      {
        "type":"text",
        "id":"text",
        "label":"Text"
      }
    ],
    
    "presets": [
       {
         "name": "About Image Overlay Text",
         "settings": {
            
          }
       }
     ]
  }
  {% endschema %}

  
