

{{ 'about-image-text.css' | asset_url | stylesheet_tag }}

<style>
  #about-large-image-text--{{ section.id }} {
  background:{{ section.settings.bg_color }};
  {% comment %} background: radial-gradient(53.71% 70.37% at 50% 87.2%, #F58325 0%, #D0C7E3 100%); {% endcomment %}
  }
</style>
<div class="about_image_text" id="about-large-image-text--{{ section.id }}">
    <div class="about_image_text_wrapper">
      {%- if section.settings.text_title != blank -%}
        <div class="text">
          <div class="left h1">{{- section.settings.text_title -}}</div>
        </div>
      {%- endif -%}
      {%- if section.settings.background_image != blank or section.settings.sticker_image != blank -%}
        <div class="image_main">
          {%- if section.settings.background_image != blank -%}
            <div class="image">
              <img src="{{- section.settings.background_image | image_url -}}">
              <div class="sticker_image_main desktop">
                <div class="sticker_image">
                  {%- if section.settings.sticker_text != blank -%}
                    <a class="jumping-link sticker_text"  data-href="{{- section.settings.sticker_url -}}" href="javascript:void(0)">
                    {{- section.settings.sticker_text -}}
                    </a>
                    {%- endif -%}
                  {%- if section.settings.sticker_image != blank -%}
                    <div class="image">
                      <img src="{{- section.settings.sticker_image | image_url -}}">
                    </div>
                  {%- endif -%}
                  
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>

<script>
// scrolling js   
  const abnoutinternalLinks = document.querySelectorAll('.jumping-link');
  function handleLinkClick(e) {
    console.log("e",e.currentTarget)
    e.preventDefault();
    if(e.currentTarget.getAttribute("data-href") == ""){
      return;
    }
    let targetOffset = document.querySelector(`${e.currentTarget.getAttribute("data-href")}`).offsetTop;
    console.log(targetOffset)
    let headerOffset = document.querySelector('#shopify-section-header').offsetHeight;

    if(!document.querySelector("html").classList.contains("mobile")){
        let height = 0;
        document.querySelectorAll(".about_slide").forEach((element, index) => { 
          index < 2 ? height+=element.clientWidth  : "";
        });
        let scrollDistance = ((targetOffset + headerOffset) + (height - window.innerWidth - 55));
        console.log(headerOffset)
        window.scroll({
          top:  scrollDistance,
          behavior: 'smooth'
        })
        //gsap.to(window, {duration: .5, delay: .5, scrollTo: {y : `${e.currentTarget.getAttribute('data-href')}`, offsetY: -312 }, ease: 'Power1.easeInOut'})
        // gsap.to(window, {duration: .5, delay: .5, scrollTo: {y : `${e.currentTarget.getAttribute('data-href')}`, offsetY: height }, ease: 'Power1.easeInOut'})
      }
    
    
  }
  abnoutinternalLinks.forEach((link) => {
    link.addEventListener('click', handleLinkClick.bind(this), true);
  })
</script>

  {% schema %}
  {
    "name": "About Large Image Text",
    "tag": "section",
    "settings": [
      {
        "type":"richtext",
        "id":"text_title",
        "label":"Image Text"
      },
      {
        "type":"image_picker",
        "id":"background_image",
        "label":"Background image"
      },
      {
        "type":"image_picker",
        "id":"sticker_image",
        "label":"Sticker image"
      },
      {
        "type":"text",
        "id":"sticker_text",
        "label":"Sticker Text"
      },
      {
        "type":"url",
        "id":"sticker_url",
        "label":"Sticker url"
      }
    ],
    
    "presets": [
       {
         "name": "About Large Image Text",
         "settings": {
            
          }
       }
     ]
  }
  {% endschema %}
  