
{{ 'about-center-image.css' | asset_url | stylesheet_tag }}


<div class="about_center_image" id="about-center-image--{{ section.id }}">
    <div class="about_center_image_wrapper">
      {% if section.settings.heading != blank %}
      <div class="heading">
        <div class="heading_text h1 center">{{ section.settings.heading }}</div>
      </div>
      {% endif %}
      {% if section.settings.left_text != blank and section.settings.right_text != blank %}
      <div class="image_text_wrapper">
        <div class="image_text_main">
          <div class="image_text_item item_1 left_part">
            <div class="text">
              {{ section.settings.left_text }}
            </div>
          </div>
          {% comment %} <div class="image_text_item"></div> {% endcomment %}
          <div class="image_text_item item_2 right_part">
            <div class="text">
              {{ section.settings.right_text }}
            </div>
            {% if section.settings.btn_bg_image != blank and section.settings.btn_url != blank and section.settings.btn_text != blank %}
            <div class="image_text_button">
              <a class="button_wrapper" href="{{ section.settings.btn_url }}">
                <div class="image">
                  <img src="{{ section.settings.btn_bg_image | img_url: 'master' }}">
                </div>
                <div class="btn_text">
                  {{ section.settings.btn_text }}
                </div>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="image_text_slider">
        <div class="image_text_slider_wrapper">
          <div class="swiper image_text_slide_main">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for block in section.blocks %}
              <div class="swiper-slide item_1">
                <div class="slide_item_wrapper">
                  {% if block.settings.text != blank %}
                  <div class="text h1">
                    {{ block.settings.text }}
                  </div>
                  {% else %}
                  {% if block.settings.image != blank %}
                  <div class="image">
                    <img src="{{ block.settings.image | img_url: 'master' }}">
                  </div>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              {% comment %} <div class="swiper-slide item_2">
                <div class="slide_item_wrapper">
                  <div class="text h1">In fact, as Marcus saw first hand, it likely means they’re not.</div>
                </div>
              </div> {% endcomment %}
              {% comment %} <div class="swiper-slide item_3">
                <div class="slide_item_wrapper">
                  <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/DISGUSTING-JUICE_1_2.png?v=1672132355">
                  </div>
                </div>
              </div> {% endcomment %}
              {% comment %} <div class="swiper-slide item_4">
                <div class="slide_item_wrapper">
                  <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/DISGUSTING-JUICE_1_3.png?v=1672132355">
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination hidden"></div>
  
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev hidden"></div>
            <div class="swiper-button-next hidden"></div>
  
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar hidden"></div>
          </div>
        </div>
      </div>
      {% if section.settings.center_image != blank %}
      <div class="center_image_main">
        <div class="center_image_wrapper">
          <img src="{{ section.settings.center_image | img_url: 'master' }}">
        </div>
      </div>
      {% endif %}
    </div>
  </div>

<script src="{{ 'about-map.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "About image with Slider",
  "tag": "section",
  "settings": [
    {
      "type":"text",
      "id":"heading",
      "label":"Heading"
    },
    {
      "type":"image_picker",
      "id":"center_image",
      "label":"Center Image"
    },
    {
      "type":"richtext",
      "id":"left_text",
      "label":"Left Side Text"
    },
    {
      "type":"richtext",
      "id":"right_text",
      "label":"right Side Text"
    },
    {
      "type":"image_picker",
      "id":"btn_bg_image",
      "label":"Button Background Image"
    },
    {
      "type":"text",
      "label":"Button Text",
      "id":"btn_text"
    },
    {
      "type":"url",
      "id":"btn_url",
      "label":"Button URL"
    }
  ],
  "blocks":[
      {
        "type":"slide",
        "name":"Slide",
        "settings":[
          {
            "type":"richtext",
            "label":"Text",
            "id":"text"
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          }
        ]
      }
  ],
  "presets": [
     {
       "name": "About Center image with Slider",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

