{{ 'about-text-image-grid.css' | asset_url | stylesheet_tag }}

<style>
  .about-text-{{ section.id }} {
        background:{{ section.settings.bg_color }};
    }
  </style>
  
<div class="about-text-image-grid about-text-{{ section.id }}">
    <div class="about_text_grid_wrapper">
      <div class="about_text_grid_main">
        <div class="text_grid left_part">
          <div class="text_grid_container">
            <div class="text">{{ section.settings.text_left }}</div>
          </div>
        </div>
        <div class="text_grid right_part">
        <div class="text_grid_container">
            <div class="text">{{ section.settings.text_right }}</div>
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "About Text Image Grid",
  "tag": "section",
  "settings": [
    {
      "type":"color_background",
      "id":"bg_color",
      "label":"Background Color"
    },
    {
      "type":"richtext",
      "label":"Left Side Text",
      "id":"text_left"
    },
    {
      "type":"richtext",
      "label":"Right Side Text",
      "id":"text_right"
    }
  ],  
  "presets": [
     {
       "name": "About Text Image Grid",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}