{{ 'about-center-image.css' | asset_url | stylesheet_tag }}

<style>
  #about-center-image--{{ section.id }} .image_text_slider_wrapper {
    background:{{ section.settings.slider_bg }};
  }
</style>

<div class="about_center_image" id="about-center-image--{{ section.id }}">
  <div class="about_center_image_wrapper">
    {% if section.settings.heading != blank %}
      <div class="heading">
        <div class="heading_text h1 center">{{ section.settings.heading }}</div>
      </div>
    {% endif %}
    {% if section.settings.left_text != blank and section.settings.right_text != blank %}
      <div class="image_text_wrapper">
        <div class="image_text_main">
          <div class="image_text_item item_1 left_part">
            <div class="text">
              {{ section.settings.left_text }}
            </div>
          </div>
          {% comment %} <div class="image_text_item"></div> {% endcomment %}
          <div class="image_text_item item_2 right_part">
            <div class="text">
              {{ section.settings.right_text }}
            </div>
            {% if section.settings.btn_bg_image != blank
              and section.settings.btn_url != blank
              and section.settings.btn_text != blank
            %}
              <div class="image_text_button">
                <a class="button_wrapper" href="{{ section.settings.btn_url }}" target="_blank">
                  <div class="btn_text">
                    {{ section.settings.btn_text }}
                  </div>
                  <div class="image">
                    <img src="{{ section.settings.btn_bg_image | img_url: 'master' }}">
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="image_text_slider">
      <div class="image_text_slider_wrapper">
        <div class="swiper image_text_slide_main">
          <div class="swiper-wrapper horizontal_scroll_cards">
            {% for block in section.blocks %}
              <div class="swiper-slide style_1 slide_item_{{ forloop.index }} horizontal_scroll_card">
                <div class="slide_item_wrapper">
                  {% if block.settings.text != blank %}
                    <div class="text h1">{{ block.settings.text }}</div>
                  {% endif %}

                  {% if block.settings.image != blank %}
                    <div class="image" style="max-width:400px;">
                      <img src="{{ block.settings.image | img_url: 'master' }}">
                    </div>
                  {% endif %}
                  {% if block.settings.image_3 != blank %}
                    <div class="image " style="max-width:400px;">
                      <img src="{{ block.settings.image_3 | img_url: 'master' }}">
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.center_image != blank %}
      <div class="center_image_main">
        <div class="center_image_wrapper">
          <img src="{{ section.settings.center_image | img_url: 'master' }}">
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% comment %}
  <script>
  (function(){
      function AboutCenterSlider(){
         // window.gsap.registerPlugin(ScrollTrigger);
          gsap.utils.toArray("#image_text_slider_wrapper--{{ section.id }}").forEach((section) => {
              console.log(section);
              const before_cards = document.querySelector("#about_map_main");
              const before_totalWidth = Array.from(document.querySelectorAll(".about_slide")).reduce((acc, element) => {
                  return beforeacc = acc + element.offsetWidth;
              }, 0);

            console.log(before_totalWidth);

              const cards = section.querySelector("#image_text_slide-{{ section.id }}");
              const totalWidth = Array.from(section.querySelectorAll(".swiper-slide")).reduce((acc, element) => {
                  return acc = acc + element.offsetWidth;
              }, 0);
              window.gsap.to(cards, {
                //  xPercent: -100,
                //  x: () => totalWidth * -1,
                  x: () => {
                      return -cards.scrollWidth + cards.offsetWidth;
                  },
                  ease: "none",
                  scrollTrigger: {
                    markers: true,
                    trigger: "#image_text_slider_wrapper--{{ section.id }}",
                    start: () => "center center",
                    end: () => `+=${cards.scrollWidth - cards.offsetWidth}`,
                    scrub: true,
                    pin: "#MainContent",
                    invalidateOnRefresh: true,

                    //anticipatePin: 1
                  }
                 /* scrollTrigger: {
                      markers: true,
                      trigger: "#image_text_slider_wrapper--{{ section.id }}",
                      pin: "#MainContent",
                      //endTrigger: ".shopify-section",
                      // start: () => `${document.querySelector(".header-wrapper").clientHeight + before_totalWidth}px top`,
                      // end: () => `+=${totalWidth / 2}`,
                      start: "1200px center",
                      end: () => `+=${totalWidth / 2}`,
                      scrub: true,
                     // pin: true,
                      invalidateOnRefresh: true,
                     // anticipatePin: 1,
                     // pinType: "fixed"
                  }*/
              });
          });

      }


      let gsapAboutCenterInterval = setInterval(function(){
          if(window.gsapLoaded != undefined){
              clearInterval(gsapAboutCenterInterval);
             // if(window.innerWidth > 749){
                //  AboutCenterSlider();
            //  }
          }
      });


  })();


  </script>
{% endcomment %}

{% comment %} <script src="{{ 'about-map.js' | asset_url }}" defer="defer"></script> {% endcomment %}

{% schema %}
{
  "name": "About image with Slider",
  "tag": "section",
  "settings": [
    {
      "type": "color_background",
      "id": "slider_bg",
      "label": "Slider Background"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "center_image",
      "label": "Center Image"
    },
    {
      "type": "richtext",
      "id": "left_text",
      "label": "Left Side Text"
    },
    {
      "type": "html",
      "id": "right_text",
      "label": "right Side Text"
    },
    {
      "type": "image_picker",
      "id": "btn_bg_image",
      "label": "Button Background Image"
    },
    {
      "type": "richtext",
      "label": "Button Text",
      "id": "btn_text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "style_1",
      "name": "Slide Style 1",
      "settings": [
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Center image with Slider",
      "settings": {}
    }
  ]
}
{% endschema %}
