{{ 'about-map.css' | asset_url | stylesheet_tag }}
{{ 'about-center-image.css' | asset_url | stylesheet_tag }}

<div class="about_map" id="about-mp--{{ section.id }}">
    <div class="about_map_main" id="about_map_main">
        <div class="about_map_wrapper map--small">
            <div class="map_text_container">
              <div class="map_text_title_box">
                <div class="map_text_title">
                  <h1>Truly Pure Juice and Food.</h1>
                </div>
              </div>
              <div class="map_text_subtext_box">
                <div class="map_text_subtext">
                  <p>With goodsugar, you don’t have to compromise between what your taste buds want and what your body needs.</p>
                </div>
              </div> 
            </div>
            <div class="map_container">
              <div class="map_container_main">
                <div id="googleMap">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58739.61869188914!2d72.51383399424148!3d23.05216844401691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84d583031261%3A0x8559b0bfc373c247!2sAumento%20Infoway%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1671688401545!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="map_location_main large-up-hide">
                <div class="map_location_text">
                <span>We’re closer to you than you are to buying your own professional-grade blender.
                  <br>
                  <br>
                69th St & 3rd Ave, 
                New York, NY 10021
                <br><br>
                hours:</span>
                <br>
                Mon-fri 8am-7pm<br>
                sat-sun 8am-5pm</div>
              </div>
            </div>
        </div>
        <div class="about_map_sticker item_1">
          <div class="map_sticker_container">
            <div class="map_sticker_image">
              <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_12.png?v=1671192667">
            </div>
            <div class="map_sticker_text">
              <div class="text">ETHOs</div>
            </div>           
          </div>
        </div>
        <div class="about_map_sticker item_2">
          <div class="map_sticker_container">
            <div class="map_sticker_image">
              <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_8.png?v=1671134824">
            </div>
            <div class="map_sticker_text">
              <div class="text">brand</div>
            </div>           
          </div>
        </div>
        <div class="about_map_sticker item_3">
          <div class="map_sticker_container">
            <div class="map_sticker_image">
              <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_14_1.png?v=1671192975">
            </div>
            <div class="map_sticker_text">
              <div class="text">Rewards</div>
            </div>           
          </div>
        </div>
    </div>
</div>


<div class="about_center_image" id="about-center-image--{{ section.id }}">
  <div class="about_center_image_wrapper">
    <div class="heading">
      <div class="heading_text h1 desktop-center">We were meant to eat plants.</div>
    </div>
    <div class="image_text_wrapper">
      <div class="image_text_main">
        <div class="image_text_item item_1">
          <div class="text">This isn’t some whackadoo perspective our founder, Marcus Antebi, picked up after years of jumping out of planes and pressing fresh juice – it’s what the unvarnished science consistently shows.</div>
        </div>
        {% comment %} <div class="image_text_item"></div> {% endcomment %}
        <div class="image_text_item item_2">
          <div class="text">He just listened...and learned...and tinkered...and toiled...until finally he created an approach to juicing that didn’t require pasteurization or additives or preservatives: just the pure way nature intended.<br><br>You can taste it in all of our offerings and how good they make us feel</div>
          <div class="imagr_text_button">
            <div class="button_wrapper">
              <div class="image">
                <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_10.png?v=1671191937">  
              </div>
              <div class="btn_text">Learn More <br>from Marcus</div>  
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="image_text_slider">
      <div class="image_text_slider_wrapper">
        <div class="swiper image_text_slide_main">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide item_1">
              <div class="slide_item_wrapper">
                <div class="text h1">Just because they claim “juice” and “pressed” and “health” doesn’t mean they are.</div>
              </div>
            </div>
            <div class="swiper-slide item_2">
              <div class="slide_item_wrapper">
                <div class="text h1">In fact, as Marcus saw first hand, it likely means they’re not.</div>
              </div>
            </div>
            <div class="swiper-slide item_3">
              <div class="slide_item_wrapper">
                <div class="image">
                  <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/DISGUSTING-JUICE_1_2.png?v=1672132355">
                </div>
              </div>
            </div>
            <div class="swiper-slide item_4">
              <div class="slide_item_wrapper">
                <div class="image">
                  <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/DISGUSTING-JUICE_1_3.png?v=1672132355">
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
    <div class="center_image_main">
      <div class="center_image_wrapper">
        <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/celery_goodsugar_1.png?v=1672134898">
      </div>
    </div>
  </div>
</div>

<script src="{{ 'about-map.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "About Map",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "About Map",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}


