{{ 'product-accordion.css' | asset_url | stylesheet_tag }}

<style>
  {{ section.settings.add_css }}
</style>
<style>
  {% if section.settings.bg_image != blank %}
  #product_accordion--{{ section.id }} {
      background-image: url({{ section.settings.bg_image | img_url: 'master' }});
  }
  {% else %}
  #product_accordion--{{ section.id }} {
      background:{{ section.settings.bg_color }};
  }
  {% endif %}
</style>

<div class="product_accordion {{ section.settings.add_class }}" id="product_accordion--{{ section.id }}">
  <div class="{% if section.settings.full_width == false %} page-width {% endif %} ">
    <div class="product_accordion_wrapper">
      <div class="product_accordion_main left_item medium-hide small-hide">
        <div class="image_wrapper">
          {% if section.settings.image_title != blank %}<div class="title medium-hide small-hide">{{ section.settings.image_title }}</div> {% endif %}
          {% assign productMetaAccordions = product.metafields.accordion.image[1] %}
          {% for metaImage in productMetaAccordions %}
            <div class="image" for="item--{{ block.id }}">
              <img src="{{ metaImage.src }}" alt="{{ block.settings.image.alt }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="product_accordion_main right_item">
        <div class="product_accordion_main_wrapper">
          {% assign MeteTitle = product.metafields.accordion.title %}
          {% assign MeteContent = product.metafields.accordion.content %}
          {% for title in MeteTitle %}
            <div class="accordion_main">
              {% if title != blank %}
                <details>
                  <summary>
                    <div class="title" id="item--{{ block.id }}">
                      {{ title }}
                    </div>
                    <div class="product_accordion_icon">
                      {% render 'icon-round-plus' -%}
                      {%- render 'icon-round-minus' %}
                    </div>
                  </summary>
                  <div class="accordion_content_main">
                    {% if MetaImage != blank %}
                      <div class="image large-up-hide" for="item--{{ block.id }}">
                        <img src="{{ MetaImage.original_src }}" alt="{{ block.settings.image.alt }}">
                      </div>
                    {% endif %}
                    {% if MeteContent != blank -%}
                      <div class="accordian_content">{{ MeteContent[forloop.index0] }}</div>
                    {% endif %}
                  </div>
                </details>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Accordion",
  "tag": "section",
  "settings": [
    {
        "type":"checkbox",
        "id":"full_width",
        "label":"Full Width",
        "default":true
    },
    {
      "type":"text",
      "id":"image_title",
      "label":"Image Title"
    },
    {
        "type":"image_picker",
        "id":"bg_image",
        "label":"Background Image"
    },
    /*{
        "type":"image_picker",
        "id":"image",
        "label":"Image"
    },*/
    {
        "type":"color_background",
        "id":"bg_color",
        "label":"Background Color"
    },
    {
        "type":"header",
        "content":"Advance"
    },
    {
        "type":"text",
        "id":"add_class",
        "label":"CSS Class"
    },
    {
        "type":"textarea",
        "id":"add_css",
        "label":"Custom CSS"
    }
  ],
  "blocks":[
    {
        "type":"text",
        "name":"Accordion Item",
        "settings":[
            {
                "type":"richtext",
                "id":"title",
                "label":"Title"
            },
            {
                "type":"richtext",
                "id":"text",
                "label":"Text"
            },
            {
                "type":"image_picker",
                "id":"image",
                "label":"Image"
            }
        ]
    }
  ],
  "presets": [
     {
       "name": "Product Accordion",
       "settings": {

        }
     }
   ]
}
{% endschema %}
