{{ 'text-horizontal-lider.css' | asset_url | stylesheet_tag }}

<style>
    {%- for block in section.blocks -%}
        .text-slider--{{ block.id }} .text p,
        .text-slider--{{ block.id }} .text {
            color:{{ block.settings.text_color }};
        }
        .text-slider--{{ block.id }} .text p {
            font-size: {{ block.settings.font-size }}px;
            font-family: var({{ block.settings.font_family }});
        }
        {% comment %} .text-slider--{{ block.id }} {
        max-width:{{ block.settings.text_max_width }}px;
        } {% endcomment %}
        @media screen and (max-width:749px) {
            .text-slider--{{ block.id }} {
                width:{{ block.settings.block_width }}%;
            } 
            .text-slider--{{ block.id }} .text p  {
                font-size: {{ block.settings.font-size_mob }}px; 
            }
            .text-slider--{{ block.id }} {
                {%- if block.settings.show_border_top == true -%}
                border-top:var(--custom-border-width) solid #5C398D;
                {%- endif -%}
                {%- if block.settings.show_border_bottom == true -%}
                border-bottom:var(--custom-border-width) solid #5C398D;
            {%- endif -%}
                {%- if block.settings.show_border_left == true -%}
                border-left:var(--custom-border-width) solid #5C398D;
            {%- endif -%}
            {%- if block.settings.show_border_right == true -%}
                border-right:var(--custom-border-width) solid #5C398D;
        {%- endif -%}
            }
        }
    {%- endfor -%}    
</style>

<div class="text_horizontal_slider" id="text-herizontal-slider--{{ section.id }}">
    <div class="text_horizontal_slider_wrapper">
        <div class="text_horizonatl_slider_main swiper">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                <div class="swiper-slide text_horizonatl_slider text-slider--{{ block.id }}">
                    <div class="text_horizontal_slider_box">
                        <div class="main_text_wrapper">
                            <div class="text">{{ block.settings.text }}</div>
                        </div>
                    </div>
                </div>                
                {%- endfor -%}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>        
    <div>
</div>

<script type="module" src="{{ 'text-horizontal-lider.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Text Horixontal Slider",
  "tag": "section",
  "settings": [
    
  ],
  "blocks": [
    {
        "type":"text",
        "name": "Slider Text Block",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#5C398D"
            },
            {
                "type": "range",
                "id": "font-size",
                "min":10,
                "max":110,
                "unit": "px",
                "label": "Font size for Desktop",
                "default": 16
            },            
            {
                "type": "select",
                "id":"font_family",
                "label": "Font Family",
                "options": [
                    {
                        "value": "--font-body-family",
                        "label": "Body Font"
                    },
                    {
                        "value": "--font-heading-family",
                        "label": "Heading Font"
                    }
                ]
            }, 
            {
                "type":"number",
                "id":"text_max_width",
                "label":"Max Width"
            },           
            {
                "type": "header",
                "content": "For Mobile"
            },
            {
                "type": "range",
                "id": "font-size_mob",
                "min":0,
                "max":100,
                "unit": "px",
                "label": "Font size for Mobile",
                "default": 9
            },
            {
                "type": "range",
                "id": "block_width",
                "min": 0,
                "max": 100,
                "unit": "%",
                "step": 50,
                "label": "Block Width for Mobile",
                "default": 50
            },
            {
                "type": "checkbox",
                "id":"show_border_top",
                "label": "Show Top Border",
                "default": false
            },
            {
                "type": "checkbox",
                "id":"show_border_bottom",
                "label": "Show Bottom Border",
                "default": false
            },
            {
                "type": "checkbox",
                "id":"show_border_left",
                "label": "Show Left Border",
                "default": false
            },
            {
                "type": "checkbox",
                "id":"show_border_right",
                "label": "Show Right Border",
                "default": false
            }
        ]
    }
  ],
  "presets": [
     {
       "name": "Text Horuxontal Slider",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

