{%- layout 'none' -%}
{% if product %}
  <div class="search-item-wrapper">
    <li
      id="predictive-search-option-{{ forloop.index }}"
      class="predictive-search__list-item"
      role="option"
      aria-selected="false">
      <a href="{{ product .url }}"class="predictive-search__item predictive-search__item--link link link--text"tabindex="-1">
        {%- if product.featured_media != blank -%}
          <img
            loading="lazy"
            class="predictive-search__image"
            src="{{ product.featured_media | image_url: width: 150 }}"
            alt="{{ product.featured_media.alt }}"
            width="50"
            height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}">
        {%- endif -%}
        <div class="predictive-search__item-content{% unless settings.predictive_search_show_vendor or settings.predictive_search_show_price %} predictive-search__item-content--centered{% endunless %}">
          {%- if settings.predictive_search_show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="predictive-search__item-vendor caption-with-letter-spacing">{{ product.vendor }}</div>
          {%- endif -%}
          <h3 class="predictive-search__item-heading h5">{{ product.title }}</h3>
          {%- if settings.predictive_search_show_price -%}
            {% render 'price', product: product, use_variant: true, show_badges: false %}
          {%- endif -%}
        </div>
      </a>
    </li>
  </div>
  <div class="main-search-item">
    <li class="grid__item">
      {% render 'card-product' card_product: product, show_vendor: false, show_secondary_image: false, lazy_load: false %}
    </li>
  </div>
{% endif %}